---
# tasks file for roles/finish

- name: fetch cluster details (waiting for api and console urls)
  ocm_cluster_info:
    name: "{{ cluster_name }}"
  register: _cluster_info
  # no_log: true
  until:  (_cluster_info.cluster.console is defined)
          and ('url' in _cluster_info.cluster.console)
  retries: 120
  delay: 60

- block:
    - name: fetch jumphost details
      ec2_instance_info:
        region: "{{ rosa_region }}"
        filters:
          "tag:Name": "ROSA-{{ cluster_name }}-jumphost"
      register: _jumphost_info
      no_log: true

    - set_fact:
        jumphost_dns: "{{ _jumphost_info.instances[0].public_dns_name }}"
        when: _jumphost_info.instances | length > 0
  when:
    - (rosa_private or rosa_private_link) or
      (enable_jumphost | default(False) | bool)

- debug:
    msg: |
      Cluster API: {{ _cluster_info.cluster.api.url }}
      Cluster Console: {{ _cluster_info.cluster.console.url }}

      Authenticate to cluster:
        oc login {{ _cluster_info.cluster.api.url }} \
          --username {{ rosa_admin_username }} --password "{{ rosa_admin_password }}"
  delegate_to: localhost
  when: rosa_create_admin | bool

- debug:
    msg: |
      Cluster API: {{ _cluster_info.cluster.api.url }}
      Cluster Console: {{ _cluster_info.cluster.console.url }}

      Create a cluster-admin user:
        rosa create admin --cluster {{ cluster_name }}
  delegate_to: localhost
  when: not rosa_create_admin | bool

- debug:
    msg: |
      SSH to Jumphost:
        ssh ec2-user@{{ jumphost_dns }}

      SSH VPN via Jumphost:
        sshuttle --dns -NHr ec2-user@{{ jumphost_dns }} {{ rosa_tgw_cidr }}
  when:
    - jumphost_dns is defined

