# base version of ansible
ansible==2.9

# required for k8s ansible module
openshift==0.11.1

# required for vmware automation
pyvim==3.0.2
pyvmomi==7.0

# required for aws automation
boto==2.49.0
boto3==1.14.5

# required for dns lookups
dnspython==1.16.0

# required for linting
yamllint==1.24.2
ansible-lint==4.3.4
