---
# tasks file for roles/create_admin

- name: configure admin user
  ocm_idp:
    name: admin
    type: htpasswd
    cluster_name: "{{ cluster_name }}"
    username: "{{ rosa_admin_username }}"
    password: "{{ rosa_admin_password }}"

